Package: com.paigu.toutiao
Name: 清爽今日头条
Depends: mobilesubstrate, preferenceloader
Version: 2.3.5
Architecture: iphoneos-arm
Description: （修复去除视频下方相关视频和普通版广告两者功能冲突导致崩溃或卡死的问题，修复相关视频仍有广告的问题）适配最新普通版和专业版7.8.1，整体基于专业版7.0.9开发。~~~~~~~~可选：去掉普通版大部分广告、去掉头条专业版和普通版的流量提醒、置顶新闻、文章下的相关搜索以及首页的直播推荐；去掉专业版文章下的相关文章和相关圈子、视频下的相关视频、顶部热搜文字、关注页推荐关注、移除状态栏的活动或节日横幅。~~~~~~~首次安装需要在设置中找到插件“清爽今日头条”，打开所需功能的开关，并点击“关闭后台”按钮即可生效~~~~~~~
Maintainer: 糖醋丶炒排骨
Author: 糖醋丶炒排骨
Section: Tweaks
