<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>选择启用的功能。以下“旧版”特指7.0.9版本，也就是我个人喜欢的版本，比较流畅而且有自带夜间模式</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.paigu.toutiaopref</string>
			<key>key</key>
			<string>PalyerTraffic</string>
			<key>label</key>
			<string>隐藏视频的流量提醒</string>
			<key>PostNotification</key>
			<string>com.paigu.toutiaopref/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.paigu.toutiaopref</string>
			<key>key</key>
			<string>Indicator</string>
			<key>label</key>
			<string>隐藏小视频流量提醒</string>
			<key>PostNotification</key>
			<string>com.paigu.toutiaopref/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.paigu.toutiaopref</string>
			<key>key</key>
			<string>topnewspro</string>
			<key>label</key>
			<string>移除专业版置顶新闻</string>
			<key>PostNotification</key>
			<string>com.paigu.toutiaopref/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.paigu.toutiaopref</string>
			<key>key</key>
			<string>topnews</string>
			<key>label</key>
			<string>移除普通版置顶新闻</string>
			<key>PostNotification</key>
			<string>com.paigu.toutiaopref/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.paigu.toutiaopref</string>
			<key>key</key>
			<string>RelateRead</string>
			<key>label</key>
			<string>移除文章下相关文章</string>
			<key>PostNotification</key>
			<string>com.paigu.toutiaopref/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.paigu.toutiaopref</string>
			<key>key</key>
			<string>PaidCircle</string>
			<key>label</key>
			<string>移除文章下相关圈子</string>
			<key>PostNotification</key>
			<string>com.paigu.toutiaopref/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.paigu.toutiaopref</string>
			<key>key</key>
			<string>ArticleURL</string>
			<key>label</key>
			<string>移除文章下相关搜索</string>
			<key>PostNotification</key>
			<string>com.paigu.toutiaopref/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.paigu.toutiaopref</string>
			<key>key</key>
			<string>AuthorizeHint</string>
			<key>label</key>
			<string>移除首页的悬浮广告</string>
			<key>PostNotification</key>
			<string>com.paigu.toutiaopref/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.paigu.toutiaopref</string>
			<key>key</key>
			<string>RelatedVideo</string>
			<key>label</key>
			<string>移除视频下相关视频</string>
			<key>PostNotification</key>
			<string>com.paigu.toutiaopref/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.paigu.toutiaopref</string>
			<key>key</key>
			<string>ShareView</string>
			<key>label</key>
			<string>缩小视频下方分享区</string>
			<key>PostNotification</key>
			<string>com.paigu.toutiaopref/preferences.changed</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.paigu.toutiaopref</string>
			<key>key</key>
			<string>HotBoard</string>
			<key>label</key>
			<string>移除新版本热榜热点</string>
			<key>PostNotification</key>
			<string>com.paigu.toutiaopref/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.paigu.toutiaopref</string>
			<key>key</key>
			<string>RecommendUser</string>
			<key>label</key>
			<string>移除关注区推荐关注</string>
			<key>PostNotification</key>
			<string>com.paigu.toutiaopref/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.paigu.toutiaopref</string>
			<key>key</key>
			<string>oldhotsearch</string>
			<key>label</key>
			<string>隐藏旧版的热搜文字</string>
			<key>PostNotification</key>
			<string>com.paigu.toutiaopref/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.paigu.toutiaopref</string>
			<key>key</key>
			<string>hotsearch</string>
			<key>label</key>
			<string>隐藏最新版热搜文字</string>
			<key>PostNotification</key>
			<string>com.paigu.toutiaopref/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.paigu.toutiaopref</string>
			<key>key</key>
			<string>topBarLOT</string>
			<key>label</key>
			<string>移除节日和活动横幅</string>
			<key>PostNotification</key>
			<string>com.paigu.toutiaopref/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.paigu.toutiaopref</string>
			<key>key</key>
			<string>normalAd</string>
			<key>label</key>
			<string>去除普通版头条广告</string>
			<key>PostNotification</key>
			<string>com.paigu.toutiaopref/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.paigu.toutiaopref</string>
			<key>key</key>
			<string>Xigualive</string>
			<key>label</key>
			<string>去除首页的直播推荐</string>
			<key>PostNotification</key>
			<string>com.paigu.toutiaopref/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>注入到商店App的插件一般不需要注销即可生效，请在开启/关闭开关后点两次下方的按钮重新进入应用</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>干掉头条后台</string>
			<key>action</key>
			<string>killexec</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>如果你喜欢这个插件，并且想支持我，你可以</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>请我吃碗泡面</string>
			<key>action</key>
			<string>donateViaAlipay</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>插件的源地址</string>
			<key>action</key>
			<string>myrepo</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>项目开源代码</string>
			<key>action</key>
			<string>opensource</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
			<key>footerText</key>
			<string>© 2020 Copyright 糖醋丶炒排骨. All rights reserved.</string>
		</dict>
	</array>
	<key>title</key>
	<string>清爽今日头条</string>
</dict>
</plist>
